apiVersion: apps/v1
kind: Deployment
metadata:
  name: ark-server
  namespace: ark-survival-ascended
  labels:
    app: ark-server
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: ark-server
  template:
    metadata:
      labels:
        app: ark-server
    spec:
      securityContext:
        runAsUser: 10000
        runAsGroup: 10000
        fsGroup: 10000
      dnsPolicy: ClusterFirst
      imagePullSecrets:
      - name: regcred
      containers:
      - name: ark-server
        image: 839695154978.dkr.ecr.ap-northeast-1.amazonaws.com/ark-ascended-server:f1e12967d44d32ebd6bbda757cb4adc5eb72078b
        securityContext:
          runAsNonRoot: true
          allowPrivilegeEscalation: false
        ports:
        - name: game-port
          containerPort: 7777
          protocol: UDP
        - name: game-port-2
          containerPort: 7778
          protocol: UDP
        - name: query-port
          containerPort: 27015
          protocol: UDP
        - name: rcon-port
          containerPort: 27020
          protocol: TCP
        env:
        - name: SERVER_MAP
          value: "Ragnarok_WP"
        - name: SESSION_NAME
          value: "onitiku-server"
        # - name: SERVER_PASSWORD
        #   valueFrom:
        #     secretKeyRef:
        #       name: ark-server-generated-config
        #       key: server_password
        - name: SERVER_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: ark-server-generated-config
              key: admin_password
        - name: GAME_PORT
          value: "7777"
        - name: QUERY_PORT
          value: "27015"
        - name: RCON_PORT
          value: "27020"
        volumeMounts:
        - name: ark-data
          mountPath: /home/steam/ark/ShooterGame/Saved
        resources:
          requests:
            memory: "13Gi"
            cpu: "2000m"
          limits:
            memory: "16Gi"
            cpu: "4000m"
      volumes:
      - name: ark-data
        persistentVolumeClaim:
          claimName: ark-server-data-claim
