apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: monitoring
spec:
  template:
    spec:
      containers:
        - name: grafana
          resources:
            requests:
              cpu: 500m
              memory: 512Mi
            limits:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - mountPath: /grafana-dashboard-definitions/0/openclaw
              name: grafana-dashboard-openclaw
              readOnly: false
            - mountPath: /grafana-dashboard-definitions/0/openclaw-app
              name: grafana-dashboard-openclaw-app
              readOnly: false
      volumes:
        - name: grafana-storage
          persistentVolumeClaim:
            claimName: grafana-pvc
        - name: grafana-dashboard-openclaw
          configMap:
            name: grafana-dashboard-openclaw
        - name: grafana-dashboard-openclaw-app
          configMap:
            name: grafana-dashboard-openclaw-app
