apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
  namespace: monitoring
spec:
  replicas: 0
  retention: 31d
  resources:
    requests:
      memory: 2Gi
      cpu: 500m
    limits:
      memory: 4Gi
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 60Gi
        storageClassName: longhorn
  scrapeConfigSelector:
    matchLabels:
      prometheus: system-monitoring-prometheus
  podMonitorSelector:
    matchLabels:
      release: prometheus
