apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: k8s
  namespace: monitoring
spec:
  replicas: 1
  retention: 14d
  storage:
    volumeClaimTemplate:
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: 60Gi
        storageClassName: longhorn
  scrapeConfigSelector:
    matchLabels:
      prometheus: system-monitoring-prometheus
  podMonitorSelector:
    matchLabels:
      release: prometheus
