apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://raw.githubusercontent.com/argoproj-labs/argocd-image-updater/stable/config/install.yaml
- external-secret-repo.yaml
patchesStrategicMerge:
- overlays/deployment.yaml
- overlays/configmap.yaml
