apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- https://github.com/argoproj-labs/argocd-image-updater/config/default?ref=v1.0.2
- external-secret-repo.yaml
patchesStrategicMerge:
- overlays/deployment.yaml
- overlays/configmap.yaml
