apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- github.com/argoproj-labs/argocd-image-updater/config/default?ref=v1.1.1
- imageupdaters/
patchesStrategicMerge:
- overlays/deployment.yaml
- overlays/configmap.yaml
