apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: palserver
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/boxp/lolice.git
    targetRevision: main
    path: argoproj/palserver
  destination:
    server: 'https://kubernetes.default.svc' 
    namespace: palserver
  syncPolicy:
    automated:
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
