apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prod-hitohub
  namespace: argocd
spec:
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  project: default
  source:
    repoURL: git@github.com:boxp/lolice.git
    targetRevision: main
    path: "argoproj/hitohub/overlays/prod"
  destination:
    server: https://kubernetes.default.svc
    namespace: "prod-hitohub"
