apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana-alloy
  namespace: argocd
spec:
  project: default
  sources:
    - repoURL: https://grafana.github.io/helm-charts
      targetRevision: 0.12.0
      chart: alloy
      helm:
        values: |
          alloy:
            configMap:
              create: false
              name: alloy-config
              key: config.alloy
          controller:
            type: daemonset
            tolerations:
              - effect: NoSchedule
                operator: Exists
            nodeSelector: {}
          serviceMonitor:
            enabled: true
            labels:
              release: prometheus-operator
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 512Mi
    - path: argoproj/grafana-alloy
      repoURL: https://github.com/boxp/lolice
      targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
