apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: kube-system
  labels:
    component: etcd
spec:
  clusterIP: None
  selector:
    component: etcd
  ports:
    - name: metrics
      port: 2381
      targetPort: 2381
      protocol: TCP
