apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: stage-hitohub
  namespace: argocd
spec:
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  project: default
  source:
    repoURL: https://github.com/boxp/lolice.git
    targetRevision: main
    path: "argoproj/hitohub/overlays/stage"
  destination:
    server: https://kubernetes.default.svc
    namespace: "stage-hitohub"
