apiVersion: apps/v1
kind: Deployment
metadata:
  name: hitohub-back-end
spec:
  replicas: 0
  selector:
    matchLabels:
      app: hitohub-back-end
  template:
    metadata:
      labels:
        app: hitohub-back-end
    spec:
      containers:
      - name: hitohub-back-end
        image: 839695154978.dkr.ecr.ap-northeast-1.amazonaws.com/hitohub-backend-stage:ca960a5b70110a2a9913a8199756966d5e3efc06
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: hitohub-cm
        - secretRef:
            name: hitohub-secret
